.orgchart {
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.orgchart, .orgchart ul {
    padding: 0;
    margin: 0;
}

.orgchart ul {
    display: flex;
    justify-content: center;
}

.orgchart li, .orgchart .root {
    display: flex;
    flex-direction: column;
    position: relative;
}

.orgchart .nodecontent {
    align-self: center;
    position: relative;
    margin: 20px 5px;
}

.orgchart li:not(:only-child)::before {
    content: '';
    position: absolute;
    border-top: 2px solid #CCCCCC;
    width: 100%;
    height: 20px;
    top: 0px;
    z-index: -1;
}

.orgchart li:first-child::before {
    width: calc(50% + 1px);
    right: 0;
    border-left: 2px solid #CCCCCC;
    border-top-left-radius: 7px;
}

.orgchart li:last-child::before {
    width: calc(50% + 1px);
    border-right: 2px solid #CCCCCC;
    border-top-right-radius: 7px;
}

.orgchart .nodecontent::after,
.orgchart .nodecontent::before {
    content: '';
    position: absolute;
    border-left: 2px solid #CCCCCC;
    width: 20px;
    height: 20px;
    left: calc(50% - 1px);
    bottom: -20px;
    z-index: -1;
}

.orgchart .nodecontent::before {
    top: -20px;
}

.orgchart li:first-child:not(:only-child) > .nodecontent::before,
.orgchart li:last-child:not(:only-child) > .nodecontent::before {
    border-left: none;
}

.orgchart .leaf > .nodecontent::after,
.orgchart .root > .nodecontent::before,
.orgchart .collapsed > .nodecontent::after {
    display: none;
}

.orgchart .collapsed > ul {
    display: none;
}
