.settings {
  display: table;
  width: 100%;
}
.settings .row {
  display: table-row;
}
.settings .question,
.settings .switch {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.settings .question {
  width: 600px;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

/*shared*/
.cmn-toggle > input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle > label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

/*round*/

.cmn-toggle-round > label {
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
.cmn-toggle-round > label:before,
.cmn-toggle-round > label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.cmn-toggle-round > label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
.cmn-toggle-round > label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
.cmn-toggle-round > input:checked + label:before {
  background-color: #8ce196;
}
.cmn-toggle-round > input:checked + label:after {
  margin-left: 60px;
}

/*round-flat*/

.cmn-toggle-round-flat > label {
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}
.cmn-toggle-round-flat > label:before,
.cmn-toggle-round-flat > label:after {
  display: block;
  position: absolute;
  content: "";
}
.cmn-toggle-round-flat > label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
.cmn-toggle-round-flat > label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
.cmn-toggle-round-flat > input:checked + label {
  background-color: #8ce196;
}
.cmn-toggle-round-flat > input:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}


/*yes-no*/

.cmn-toggle-yes-no > label {
  width: 120px;
  height: 60px;
}
.cmn-toggle-yes-no > label:before,
.cmn-toggle-yes-no > label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
.cmn-toggle-yes-no > label:before {
  background-color: #dddddd;
  content: 'No';
  transition: transform 0.5s;
  backface-visibility: hidden;
}
.cmn-toggle-yes-no > label:after {
  background-color: #8ce196;
  content: 'Yes';
  transition: transform 0.5s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.cmn-toggle-yes-no > input:checked + label:before {
  transform: rotateY(180deg);
}
.cmn-toggle-yes-no > input:checked + label:after {
  transform: rotateY(0);
}

.cmn-toggle-yes-no.cmn-toggle-thumbs > label:before {
  content: '\1F593';
  font-size: 60px;
}
.cmn-toggle-yes-no.cmn-toggle-thumbs > label:after {
  content: '\1F592';
  font-size: 60px;
}
